AudioServer/Alnet.AudioServer.Web/Service References/AudioServerService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="audioserver" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="audioserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="audioserver/Imports">
      <xsd:import schemaLocation="http://localhost:11180/?xsd=xsd0" namespace="audioserver" />
      <xsd:import schemaLocation="http://localhost:11180/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11180/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alnet.AudioServerContract.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAudioServerService_CreateFileAudioPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileAudioPlayer" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_CreateFileAudioPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFileAudioPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_CreateVKAudioPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVKAudioPlayer" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_CreateVKAudioPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVKAudioPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_RemoveAudioPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAudioPlayer" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_RemoveAudioPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAudioPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAudioPlayes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAudioPlayes" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAudioPlayes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAudioPlayesResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAllChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChannels" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAllChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetEnabledChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnabledChannels" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetEnabledChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnabledChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetPlaybackPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaybackPosition" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetPlaybackPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaybackPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetSounds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSounds" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetSounds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoundsResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAudioPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAudioPlayer" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_GetAudioPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAudioPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_PlayConcrete_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayConcrete" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_PlayConcrete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayConcreteResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IAudioServerService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:portType name="IAudioServerService">
    <wsdl:operation name="CreateFileAudioPlayer">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/CreateFileAudioPlayer" message="tns:IAudioServerService_CreateFileAudioPlayer_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/CreateFileAudioPlayerResponse" message="tns:IAudioServerService_CreateFileAudioPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVKAudioPlayer">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/CreateVKAudioPlayer" message="tns:IAudioServerService_CreateVKAudioPlayer_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/CreateVKAudioPlayerResponse" message="tns:IAudioServerService_CreateVKAudioPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAudioPlayer">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/RemoveAudioPlayer" message="tns:IAudioServerService_RemoveAudioPlayer_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/RemoveAudioPlayerResponse" message="tns:IAudioServerService_RemoveAudioPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAudioPlayes">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetAudioPlayes" message="tns:IAudioServerService_GetAudioPlayes_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetAudioPlayesResponse" message="tns:IAudioServerService_GetAudioPlayes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChannels">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetAllChannels" message="tns:IAudioServerService_GetAllChannels_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetAllChannelsResponse" message="tns:IAudioServerService_GetAllChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnabledChannels">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetEnabledChannels" message="tns:IAudioServerService_GetEnabledChannels_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetEnabledChannelsResponse" message="tns:IAudioServerService_GetEnabledChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaybackPosition">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetPlaybackPosition" message="tns:IAudioServerService_GetPlaybackPosition_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetPlaybackPositionResponse" message="tns:IAudioServerService_GetPlaybackPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSounds">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetSounds" message="tns:IAudioServerService_GetSounds_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetSoundsResponse" message="tns:IAudioServerService_GetSounds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAudioPlayer">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/GetAudioPlayer" message="tns:IAudioServerService_GetAudioPlayer_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/GetAudioPlayerResponse" message="tns:IAudioServerService_GetAudioPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/Play" message="tns:IAudioServerService_Play_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/PlayResponse" message="tns:IAudioServerService_Play_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayConcrete">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/PlayConcrete" message="tns:IAudioServerService_PlayConcrete_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/PlayConcreteResponse" message="tns:IAudioServerService_PlayConcrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="audioserver/IAudioServerService/Stop" message="tns:IAudioServerService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="audioserver/IAudioServerService/StopResponse" message="tns:IAudioServerService_Stop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>